/*
 * Style definition for Sventon web page
 */

body {
  font-family: verdana, sans-serif;
  font-size: 11px;
  color: #000000;
  font-weight: normal;
  background-color: #ffffff;
}

pre {
  width: 100%;
  background-color: #e9e9e9;
}

a:link, a:visited {
  font-family: verdana, sans-serif;
  font-size: 11px;
  color: #ff7711;
  text-decoration: none;
}

th {
  text-align: left;
  white-space: nowrap;
}

td {
  font-family: verdana, sans-serif;
  font-size: 11px;
}

