/*
 * Style definition for Sventon user interface
 */

body {
  font-family: verdana, sans-serif;
  font-size: 10px;
  color: #14233D;
  background-color: #ffffff;
  font-weight: normal;
  margin: 8px;
  padding: 0;
}

th {
  white-space: nowrap;
  font-family: verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
}

form {
  margin: 0;
  padding: 0;
}

p {
  margin: 10px 0;
}

img {
  border: none;
}

a:link, a:visited, a:active {
  font-family: verdana, sans-serif;
  font-size: 10px;
  color: #0041BA;
  background-color: inherit;
  text-decoration: none;
}

a:hover {
  font-family: verdana, sans-serif;
  font-size: 10px;
  color: #0041BA;
  background-color: inherit;
  text-decoration: underline;
}

exclamationText {
  color: #ff0000;
}

a.sventonHeaderLink:link, a.sventonHeaderLink:visited, a.sventonHeaderLink:active, a.sventonHeaderLink:hover {
  color: #FEAE02;
  border: none;
}

input {
  font-family: verdana, sans-serif;
  font-size: 10px;
  vertical-align: middle;
}

input.btn {
  border: 1px solid;
  font-family: verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
}

.exclamationText {
  color: #ff0000;
}

.codeBlock {
  width: 100%;
  font-family: monospace;
  font-size: 11px;
  padding: 0.5em;
  color: #000000;
  background-color: #E2E4E6;
  border-top: black dotted 1px;
  border-left: black dotted 1px;
  border-right: black solid 2px;
  border-bottom: black solid 2px;
}

.sventonDiffTable {
  padding: 0;
  color: #000000;
  background-color: #E2E4E6;
  border-top: black dotted 1px;
  border-left: black dotted 1px;
  border-right: black solid 2px;
  border-bottom: black solid 2px;
}

.sventonSelect {
  font-family: verdana, sans-serif;
  font-size: 10px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #333333 #999999 #999999 #333333;
  padding-right: 0;
  vertical-align: middle;
}

.sventonSearchField {
  padding: 0
}

.sventonSelectOption {
  color: #777777;
  background-color: inherit;
}

.sventonHeader {
  color: #E2E3E6;
  font-weight: bold;
  background: url( "images/gradient_background.png" ) right;
  border: 1px solid black;
  width: 100%;
}

.sventonRevision {
  width: 100px;
}

.sventonHeadlines {
  font-family: verdana, sans-serif;
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
}

.sventonGoTo {
  width: 200px;
}

.sventonEntriesTable {
  color: #14233D;
  background-color: #AFC4D2;
  border: 1px solid black;
  width: 950px;
  border-spacing: 1px;
}

.sventonEntriesTable * TD {
  padding: 0;
  padding-right: 5px;
  border: 0;
}

.sventonFileEntryTableRow {
  color: #14233D;
  background-color: #E2E4E6;
}

.sventonEntryOdd {
  color: #14233D;
  background-color: #AFC4D2;
}

.sventonEntryEven {
  color: #14233D;
  background-color: #99ADBD;
}

.sventonEntryLogInfo {
  color: #14233D;
  background-color: #E2E4E6;
}

.sventonLogEntriesTable {
  color: #14233D;
  background-color: #AFC4D2;
  border: 1px solid black;
  width: 950px;
}

.sventonStackTraceTable {
  color: #14233D;
  background-color: #99ADBD;
  border: 1px solid black;
  font-size: 10px;
}

.sventonErrorMessageTable {
  color: #14233D;
  background-color: #99ADBD;
  border: 1px solid black;
  width: 250px;
  font-size: 10px;
}

.sventonColNoWrap {
  white-space: nowrap;
}

.sventonColRightAlign {
  text-align: right;
  white-space: nowrap;
}

.sventonCol1 {
  width: 10px;
  margin-left: auto;
  margin-right: 0;
}

.sventonCol2 {
  width: 10px;
  margin-left: auto;
  margin-right: 0;
}

.sventonCol3 {
  white-space: nowrap;
}

.sventonCol4 {
  white-space: nowrap;
}

.sventonCol5 {
  text-align: right;
  white-space: nowrap;
}

.sventonCol6 {
  text-align: right;
  white-space: nowrap;
}

.sventonCol7 {
  white-space: nowrap;
  text-align: left;
}

.sventonCol8 {
  white-space: nowrap;
}

.sventonTopTable {
  width: 100%;
}

.sventonPropertiesDiv {
}

.sventonPropertiesTable {
  color: #14233D;
  background-color: #E2E4E6;
  border: 1px solid black;
}

.sventonLatestCommitInfoTable {
  color: #14233D;
  background-color: #E2E4E6;
  border: 1px solid black;
}

.sventonLatestCommitInfoTable * TD {
  padding: 0;
}

.sventonPropertiesTable * TD {
  padding: 0;
}

.blameAuthor {
  background-color: white;
}

.sventonLineNo {
  color: #000000;
  background-color: white;
  text-decoration: none;
  text-align: right;
  width: 30px;
  border-right: black solid 1px;
}

.sventonFunctionLinksTable {
  width: 100%;
  border-spacing: 3px;
}

.sventonSpringErrorMessageTable {
}

.sventonRepositoryFunctionsTable {
}

.sventonAuthenticateTable {
}

.src {
  color: #000000;
  background-color: inherit;
  font-family: verdana, sans-serif;
  font-size: 9px;
}

.srcChg {
  color: #000000;
  background-color: #ffbebe;
  font-family: verdana, sans-serif;
  font-size: 9px;
}

.srcAdd {
  color: #000000;
  background-color: #beffbe;
  font-family: verdana, sans-serif;
  font-size: 9px;
}

.srcDel {
  color: #000000;
  background-color: #bebeff;
  font-family: verdana, sans-serif;
  font-size: 9px;
}

.searchHit {
  background-color: #ffff00;
  font-weight: bold;
}

.helpDiv {
  text-align: justify;
  border: 1px solid black;
  background-color: #eeee00;
  position: absolute;
  padding: 5px;
  white-space: normal;
  min-width: 250px;
  max-width: 250px;
  left: 300px;
  top: 250px;
}

a.helpDivCloseLink {
  color: #000000;
  text-decoration: none;
}
