.col1 {
  color: #0060CB;
}

.col2 {
  border-color: #333333 #999999 #999999 #333333;
}

.test1 {
  background-color: #ffffff;
}

.test2 {
  background-color: #e9e9e9;
}

.test3 {
  background-color: #ccccff;
}

.test4 {
  background-color: #eeeeff;
}

.test5 {
  background-color: #ddddff;
}

.test7 {
  background-color: #dddddd;
}

.test8 {
  background-color: #ffbebe;
}

.test9 {
  background-color: #beffbe;
}

.test10 {
  background-color: #bebeff;
}

.test11 {
  background-color: #F6F6FF;
}

.test12 {
  background-color: #CFCFE7;
}
