/*
 * Style definition for Sventon configuration user interface.
 */

.config_faq_entry {
  padding-bottom: 1px;
}

.config_faq_question {
  font-size: 14px;
  font-style: italic;
  border: 1px solid #52809f;
  background-color: #dcdee1;
  padding: 3px;
}

.config_faq_question a:link, .config_faq_question a:visited, .config_faq_question a:active, .config_faq_question a:hover {
  font-size: 14px;
  font-style: italic;
  color: #000;
  text-decoration: none;
}

#config_confirmation {
  margin-right: 250px;
  padding-left: 20px;
  padding-right: 50px;
}

div#config_page {
  min-width: 1024px;
}

.config_faq_answer {
  border: 1px solid #ff9f00;
  padding: 3px;
  font-size: 12px;
  margin-bottom: 10px;
}

.config_faq_answer a:link, .config_faq_answer a:visited, .config_faq_answer a:active, .config_faq_answer a:hover {
  font-size: 12px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

#configured_repos {
  float: right;
  background: #99b6c7 url( ../images/configured_repos_bottom.png ) no-repeat center bottom;
  width: 219px;
  margin-right: 20px;
}

input#global_btn {
  margin-left: 15px;
}

input#user_btn {
  margin-left: 15px;
}

p.config_key {
  font-size: 12px;
  padding-top: 5px;
}

#configured_repos ul {
  color: #fff;
  font-size: 14px;
  background: url( ../images/configured_repos_top.png ) no-repeat left top;
  margin: 0;
  padding-top: 45px;
  overflow: visible;
  min-height: 361px;
  visibility: visible;
  padding-bottom: 20px;
}

div#config_faq {
  padding-top: 100px;
}

#config_faq p {
  font-size: 16px;
}

#config_navigation form {
  float: left;
  padding-right: 15px;
}

div#config_success {
  padding-top: 10px;
  padding-bottom: 75px;
}

#configured_repos ul li {
  margin-left: 2em;
}

div.config_group {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 40px;
}

div.config_settings {
  padding-left: 56px;
}

input.cfgbtn {
  border: 1px solid;
  font-family: verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}

.configHeaderSmall {
  color: #000000;
  font-family: verdana, sans-serif;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

