/*
 * Style definition for Sventon user interface
 * TODO: Complete...
 */

body {
  font-family: Verdana;
  font-size: 11px;
  color: #000000;
  font-weight: normal;
}

pre {
  width: 100%;
  background-color: #e9e9e9;
}

a:link, a:visited, a:hover, a:active {
  font-family: Verdana;
  font-size: 11px;
  color: #0060CB;
  text-decoration: none;
}

.sventonInput, sventonSelect, sventonTextarea {
  font-family: Verdana;
  font-size: 11px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #333333 #999999 #999999 #333333;
  padding-right: 0px;
}

.sventonSelect {
  vertical-align: middle;
}

.sventonSelectOption {
  color: rgb(119, 119, 119);
}

.sventonHeader {
  background-color: #ccccff;
  border: 1px solid black;
  width: 100%;
}

th {
  text-align: left;
  white-space: nowrap;
}

.sventonRevision {
}

.sventonHeadlines {
  font-family: Verdana;
  font-size: 11px;
  font-weight: bold;
}

.sventonGoTo {
  width: 30em;
}

.sventonEntriesTable {
  background-color: #eeeeff;
  border: 1px solid black;
  width: 950px;
}

.sventonEntry1 {
  background-color: #ddddff;
}

.sventonEntry2 {
  background-color: #eeeeff;
}

.sventonEntryLogInfo {
  background-color: #dddddd;
}

.sventonLogEntriesTable {
  background-color: #eeeeff;
  border: 1px solid black;
  width: 950px;
}

.sventonStackTraceTable {
  background-color: #eeeeff;
  border: 1px solid black;
  font-size: 11px;
}

.sventonErrorMessageTable {
  background-color: #eeeeff;
  border: 1px solid black;
  width: 250px;
  font-size: 11px;
}

.sventonCol1 {
  width: 10px;
  text-align: center;
  white-space: nowrap;
}

.sventonCol2 {
  white-space: nowrap;
}

.sventonCol3 {
  white-space: nowrap;
}

.sventonCol4 {
  text-align: right;
  white-space: nowrap;
}

.sventonCol5 {
  text-align: right;
  white-space: nowrap;
}

.sventonCol6 {
  white-space: nowrap;
}

.sventonCol7 {
  white-space: nowrap;
}

.sventonCol8 {
  white-space: nowrap;
}

.sventonEntriesDiv {
}

.sventonTopTable {
  width: 100%;
}

.sventonLineNo {
  text-decoration: none;
}

.sventonBlameTable {
}

.sventonFunctionLinksTable {
  border-spacing: 3px;
}

.sventonSpringErrorMessageTable {
}

.sventonRepositoryFunctionsTable {
}

.sventonAuthenticateTable {
}
