/*
 * Style definition for Sventon user interface
 */

body {
  font-family: verdana, sans-serif;
  font-size: 11px;
  color: #000000;
  background-color: #ffffff;
  font-weight: normal;
}

.codeBlock {
  padding: 0.5em;
  color: #000000;
  background-color: #f0f0f0;
  border-top: black dotted 1px;
  border-left: black dotted 1px;
  border-right: black solid 2px;
  border-bottom: black solid 2px;
}

.sventonDiffTable {
  color: #000000;
  background-color: #f0f0f0;
  border-top: black dotted 1px;
  border-left: black dotted 1px;
  border-right: black solid 2px;
  border-bottom: black solid 2px;
  padding: 0px;
  spacing: 0px;
}

a:link, a:visited, a:hover, a:active {
  font-family: verdana, sans-serif;
  font-size: 11px;
  color: #0060CB;
  background-color: inherit;
  text-decoration: none;
}

.sventonInput, sventonSelect, sventonTextarea {
  font-family: verdana, sans-serif;
  font-size: 11px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #333333 #999999 #999999 #333333;
  padding-right: 0px;
}

.sventonSelect {
  vertical-align: middle;
}

.sventonSearchField {
  padding: 0px
}

.sventonSelectOption {
  color: #777777;
  background-color: inherit;
}

.sventonHeader {
  color: #000000;
  background-color: #ccccff;
  border: 1px solid black;
  width: 100%;
}

th {
  text-align: left;
  white-space: nowrap;
  font-family: verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.sventonRevision {
}

.sventonHeadlines {
  font-family: verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.sventonGoTo {
  width: 30em;
}

.sventonEntriesTable {
  color: #000000;
  background-color: #eeeeff;
  border: 1px solid black;
  width: 950px;
}

.sventonEntriesTable * TD {
  padding: 0px;
}

.sventonEntry1 {
  color: #000000;
  background-color: #ddddff;
}

.sventonEntry2 {
  color: #000000;
  background-color: #eeeeff;
}

.sventonEntryLogInfo {
  color: #000000;
  background-color: #dddddd;
}

.sventonLogEntriesTable {
  color: #000000;
  background-color: #eeeeff;
  border: 1px solid black;
  width: 950px;
}

.sventonStackTraceTable {
  color: #000000;
  background-color: #eeeeff;
  border: 1px solid black;
  font-size: 11px;
}

.sventonErrorMessageTable {
  color: #000000;
  background-color: #eeeeff;
  border: 1px solid black;
  width: 250px;
  font-size: 11px;
}

.sventonColNoWrap {
  white-space: nowrap;
}

.sventonColRightAlign {
  text-align: right;
  white-space: nowrap;
}

.sventonCol1 {
  width: 10px;
  text-align: center;
  white-space: nowrap;
}

.sventonCol2 {
  white-space: nowrap;
}

.sventonCol3 {
  white-space: nowrap;
}

.sventonCol4 {
  text-align: right;
  white-space: nowrap;
}

.sventonCol5 {
  text-align: right;
  white-space: nowrap;
}

.sventonCol6 {
  white-space: nowrap;
}

.sventonCol7 {
  white-space: nowrap;
}

.sventonCol8 {
  white-space: nowrap;
}

.sventonEntriesDiv {
}

.sventonTopTable {
  width: 100%;
}

.sventonPropertiesDiv {
}

.sventonPropertiesTable {
  color: #000000;
  background-color: #eeeeff;
  border: 1px solid black;
}

.sventonLatestCommitInfoTable {
  color: #000000;
  background-color: #eeeeff;
  border: 1px solid black;
}

.sventonLatestCommitInfoTable * TD {
  padding: 0px;
}

.sventonPropertiesTable * TD {
  padding: 0px;
}

.sventonLineNo {
  color: #000000;
  background-color: inherit;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

.sventonBlameTable {
}

.sventonFunctionLinksTable {
  border-spacing: 3px;
}

.sventonSpringErrorMessageTable {
}

.sventonRepositoryFunctionsTable {
}

.sventonAuthenticateTable {
}

.src {
  color: #000000;
  background-color: #eeeeff;
  font-family: verdana, sans-serif;
  font-size: 9px;
  white-space: pre;
}

.srcChg {
  color: #000000;
  background-color: #ffbebe;
  font-family: verdana, sans-serif;
  font-size: 9px;
  white-space: pre;
}

.srcAdd {
  color: #000000;
  background-color: #beffbe;
  font-family: verdana, sans-serif;
  font-size: 9px;
  white-space: pre;
}

.srcDel {
  color: #000000;
  background-color: #bebeff;
  font-family: verdana, sans-serif;
  font-size: 9px;
  white-space: pre;
}