/* Setup defaults since variable in browsers
----------------------------------------------- */
body, div, dd, dt, dl, img, ul, ol, li, h1, h2, h3, h4, h5, form, hr, fieldset {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

body {
  background-image: url( images/background.gif );
  background-repeat: repeat-x;
  background-color: #fefef7;
}

.topMenu {
  border-left-color: #FFFFFF;
  border-left-style: solid;
  border-left-width: 1px;
}

.topMenuCell {
  border-right-color: #FFFFFF;
  border-right-style: solid;
  border-right-width: 1px;
  vertical-align: bottom;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  line-height: 9pt;
}

.topMenuCell A {
  color: #FFFFFF;
  font-size: 11px;
  text-decoration: none;
}

#selectedTopMenuCell {
  background-color: #F28B00;
  color: #000000;
  border-right-color: #FFFFFF;
  border-right-style: solid;
  border-right-width: 1px;
  vertical-align: bottom;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  line-height: 9pt;
}

A:hover {
  TEXT-DECORATION: underline;
}

A {
  TEXT-DECORATION: none;
  color: #FF6600;
}

.boxHeaderS {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.boxHeader {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background-color: #ddd;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  padding: 5px;
}

.boxBody {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #444;
  background-color: #FFFFFF;
  padding: 7px;
  border: 1px solid #bbb;
}

.downloadBody {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
  background-color: #FFFFFF;
  padding: 7px;
  border: 1px solid #bbb;
}

li {
  margin-left: -3px;
  margin-right: 4%;
  margin-top: .5em;
  margin-bottom: .5em;
}

ul {
  margin: 0;
  margin-left: 20px;
}

hr {
  border: 0;
  background-color: #FF6600;
  color: #FF6600;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 9px;
  margin-bottom: 0;
  line-height: 1px;
}

.body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #222;
}
